<%= form_with(model: [, user_calendar], local: true) do |form| %>
  <% if user_calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_calendar.errors.count, "error") %> prohibited this user_calendar from being saved:</h2>

      <ul>
      <% user_calendar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :offset %>
    <%= form.number_field :offset %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.datetime_select :start %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.datetime_select :end %>
  </div>

  <div class="field">
    <%= form.label :stols %>
    <%= form.text_field :stols %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
