<p id="notice"><%= notice %></p>

<h1>User Calendars</h1>

<table>
  <thead> 
    <tr>
      <th>ID</th>
      <th> from</th>
      <th> to</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_slots.each_with_index do |slot,index| %>
      <tr>
        <td><%= index %></td>
        <td><%= slot[:from] %></td>
        <td><%= slot[:to] %></td>

      </tr>
    <% end %>
    
  </tbody>
</table>
<br>
