<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_calendar.user_id %>
</p>

<p>
  <strong>Offset:</strong>
  <%= @user_calendar.offset %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user_calendar.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user_calendar.email %>
</p>

<p>
  <strong>Start:</strong>
  <%= @user_calendar.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @user_calendar.end %>
</p>

<p>
  <strong>Stols:</strong>
  <%= @user_calendar.stols %>
</p>

<%= link_to 'Edit', edit_user_calendar_path(@user_calendar) %> |
<%= link_to 'Back', _user_calendars_path %>
