<%= form_with(model: [user_calendar], local: true) do |form| %>
  <% if user_calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_calendar.errors.count, "error") %> prohibited this user_calendar from being saved:</h2>

      <ul>
      <% user_calendar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :buffer %>
    <%= form.number_field :buffer %>
  </div>

  <div class="field">
    <%= form.label :per_day_slots %>
    <%= form.text_field :per_day_slots %>
  </div>

  <div class="field">
    <%= form.label :week_days_available %>
    <%= form.text_field :week_days_available %>
  </div>

  <div class="field">
    <%= form.label :time_zone %>
    <%= form.time_zone_select( :time_zone, nil, default: "Pacific Time (US & Canada)", :class => "col-xs-8") %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
