<p id="notice"><%= notice %></p>

<h1>User Calendars</h1>

<table>
  <thead> 
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Preference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_calendars.each do |user_calendar| %>
      <tr>
        <td><%= user_calendar.id %></td>
        <td><%= user_calendar.user_id %></td>
        <td><%= user_calendar.preference %></td>
        <td><%= link_to 'Show', user_calendar_path(id: user_calendar.id) %></td>
        <td><%= link_to 'Edit', edit_user_calendar_path(id: user_calendar.id) %></td>
        <td><%= link_to 'Destroy', user_calendar_path(id: user_calendar.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Calendar', new_user_calendar_path %>
