<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_calendar.user_id %>
</p>

<p>
  <strong>preference:</strong>
  <%= @user_calendar.preference %>
</p>


<%= link_to 'Edit', edit_user_calendar_path(@user_calendar) %> |
<%= link_to 'Back', user_calendar_path(@user_calendar)  %>
